<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{site.description}}">
    <meta name="keywords" content="">
    <link rel="icon" href="">

    <title>{{site.title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="./assets/vendors/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
    <link href="./assets/styles/site.css" rel="stylesheet">

</head>

<body>
        {% include nav.html %}

    <main id="content" role="main">
        {{content}}
    </main>
  
    {% include footer.html %} 

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="./assets/vendors/bootstrap/js/bootstrap.js"></script>

</body>

</html>